*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/woods.jpg);
    width: 100vw;
    background-size: cover;
}
.section-home{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/background.jpg);
}

p{
    text-align: center;
    color:  #e0e0e4;
}

.about-me{
    padding: 5%;
    letter-spacing: .1rem;
    word-spacing: .2rem;
}

.navbar-list li{
    display: inline-block;
    margin-right: 20px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-list{
    list-style: none;
}
.social-list li{
    display: inline-block;
    
}
.navbar{
    padding: 20px;
    background-color: rgb(43, 44, 44);
}
a{
    text-decoration: none;
    color:  #e0e0e4;
}
a:hover{
    color: rgb(165, 158, 158);
}
.social-logo{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    color: rgb(112, 105, 105);
}
.social-logo:hover{
    color: #e0e0e4 ;
}

h1, h2{
    color: #e0e0e4;
    text-align: center;
}
h1{
    font-size: 4rem;
    
}
h2{
    text-decoration: underline;
}

footer{
    display: flex;
    width: 100vw;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    background-color: rgb(43, 44, 44);
    bottom: 0;

}
#me{
    display: block;
    text-align: center;
    margin-top: 5%;
}

.profile-picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#projects{
    text-align: center;
    margin-top: 8%;
}
#projects-list li{
    display: inline-block;
    margin: 0 2%
}
.about-me-photos{
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
    
}

#body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),(rgba(255, 255, 255, 0.9), url(images/woods.jpg)));
    width: 100vw;
    background-size: cover;
}

.photo-container{
    display: flex;
    width: 32.8%;
    margin: 0 .6%;
}
.gallery-pic{
    width: 100%;
    margin: 0 .6%;
}